src/main/resources/schemas/ADA-CommonAggregateComponents-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Document Type: CommonAggregateComponents Generated On: Tue Oct 03 2:26:38 
	P3 2006 -->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="org:itc:salesforce:sifi:schema:xsd:CommonAggregateComponents-2"
	xmlns="org:itc:salesforce:sifi:schema:xsd:CommonAggregateComponents-2"
	xmlns:cbc="org:itc:salesforce:sifi:xsd:CommonBasicComponents-2"
	xmlns:udt="org:itc:salesforce:sifi:data:specification:UnqualifiedDataTypesSchemaModule:2"
	xmlns:ccts="urn:un:unece:uncefact:documentation:2"
	xmlns:qdt="org:itc:salesforce:sifi:schema:xsd:QualifiedDatatypes-2"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="2.0">
	<!-- ===== Imports ===== -->
	<xsd:import schemaLocation="ADA-CommonBasicComponents-2.0.xsd"
		namespace="org:itc:salesforce:sifi:xsd:CommonBasicComponents-2"></xsd:import>
	<xsd:import
		namespace="org:itc:salesforce:sifi:data:specification:UnqualifiedDataTypesSchemaModule:2"
		schemaLocation="UnqualifiedDataTypeSchemaModule-2.0.xsd" />
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="sincronizarCrmSifiRequest" type="SincronizarCrmSifiRequestType" />
	<xsd:element name="clienteCrm" type="InfoGeneralType" />
	<xsd:element name="representanteLegalClienteCrm" type="InfoRepresentanteLegalType" />
	<xsd:element name="empresaClienteCrm" type="InfoGeneralEmpresaType" />
	<xsd:element name="headerCrm" type="HeaderType" />
	<xsd:element name="direccionClienteCrm" type="DireccionType" />
	<xsd:element name="sincronizarCrmSifiResponse" type="ResposeServiceType" />
	<xsd:element name="sincronizarCrmSifiFault" type="FaultServiceType" />
	<xsd:element name="fillers" type="FillersType" />
	<xsd:element name="direccionesClienteCrm" type="DireccionesType" />

	<!-- ===== Type Definitions ===== -->

	<xsd:complexType name="SincronizarCrmSifiRequestType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="clienteCrm" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"First", "Second"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="representanteLegalClienteCrm" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"First", "Second"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
						<xsd:element ref="empresaClienteCrm" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"First", "Second"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						<xsd:element ref="direccionesClienteCrm" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"First", "Second"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element ref="fillers"  maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"First", "Second"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>								
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="InfoGeneralType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:tipoDocumento" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:numeroIdentificacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:digitoVerificacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:primerApellido" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:segundoApellido" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:primerNombre" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:segundoNombre" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:tipoAuxiliar" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:tipoPersona" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:clasificacionTributaria"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:codigoCiudad" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ciudad" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:direccion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:telefono" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:codActividad" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:direccionCorres" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:fechaCreacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:usuarioCreacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<xsd:element ref="cbc:exceptoContrExp" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:fechaActualizacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:reteFuente" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:numeroDirecciones" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:origenRecursos" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:usuarioModificacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<xsd:element ref="cbc:fechaModificacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:segmentoCliente" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InfoRepresentanteLegalType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:nombreRepreLegal" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:tipoDocumento" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						<xsd:element ref="cbc:numeroIdentificacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						<xsd:element ref="cbc:primerNombre" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						<xsd:element ref="cbc:primerApellido" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>										
			<xsd:element ref="cbc:sexo" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:direccion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InfoGeneralEmpresaType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:numeroEscritura" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:tipoEmpresa" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FaultServiceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:codRespuesta" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:msgRespuesta" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FillersType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:filler"  maxOccurs="unbounded"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>1..M</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DireccionesType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="direccionClienteCrm"  maxOccurs="unbounded"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>1..M</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="DireccionType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:direccion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:ciudad" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element ref="cbc:tipoDireccion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element ref="cbc:telefono" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
								<xsd:element ref="cbc:direccionPrincipal" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HeaderType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>HeaderType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:transactionId" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:channel" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:host" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
						<xsd:element ref="cbc:transactionDateTime" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:officecode" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element ref="cbc:usuarioCreacion" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<xsd:element ref="cbc:indicadorJornadaAdicional"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:indicadorReverso" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:idTransaccionReverso" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:observacionTransaccionReverso"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResposeServiceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ADA</ccts:ComponentType>
					<ccts:DictionaryEntryName>SincronizarCrmSifiRequestType
					</ccts:DictionaryEntryName>
					<ccts:Definition>Information about request
						SincronizarCrmSifiRequestType
					</ccts:Definition>
					<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:transactionId" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element ref="cbc:transactionDate" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:transactionTime" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:codRespuesta" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:msgRespuesta" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>SincronizarCrmSifi. Identifier
							</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the SincronizarCrmSifi.
							</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>SincronizarCrmSifi</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"A", "C"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>
